<div class="menu menu__wrapper wrapper">
    <nav class="menu__nav">
        <a href="" class="menu__item">All Products</a>
        <a href="" class="menu__item">Whiskey</a>
        <a href="" class="menu__item">Tequila</a>
        <a href="" class="menu__item">Vodka</a>
        <a href="" class="menu__item">Gin</a>
        <a href="" class="menu__item">Cognac & Brandy</a>
        <a href="" class="menu__item">Rum</a>
        <a href="" class="menu__item">Liqueur & More</a>
        <a href="" class="menu__item">Champagne</a>
        <a href="" class="menu__item">Wine</a>
    </nav>
</div>