@font-face {
  font-family: "GilroyRegular";
  src: url("Gilroy-Regular.eot");
  src: url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: "GilroySemiBold";
  src: url("Gilroy-SemiBold.eot");
  src: url("Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("Gilroy-SemiBold.woff") format("woff"), url("Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: "GilroyBold";
  src: url("Gilroy-Bold.eot");
  src: url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: "YorktenSlabRegular";
  src: url("Yorkten-Slab-Norm-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

.header {
  height: 77px;
  background-color: #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 14px;
  background-color: #ffffff;
  cursor: pointer;
}

.header__menu span:first-child {
  display: block;
  position: absolute;
  background-color: #000000;
  height: 2px;
  width: 20px;
  top: 20px;
  left: 13px;
}

.header__menu span:last-child {
  display: block;
  position: absolute;
  background-color: #000000;
  height: 2px;
  width: 14px;
  top: 25px;
  left: 13px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-family: "GilroyRegular", serif;
}

.header__logo img {
  width: 100%;
  height: 60px;
}

.header__block {
  max-width: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__account {
  font-size: 12px;
}

.header__log-in {
  font-family: "GilroyRegular", serif;
  padding-right: 10px;
  border-right: 1px solid #d0d0d0;
}

.header__create-account {
  font-family: "GilroyRegular", serif;
  padding-left: 10px;
}

.header__search {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 14px;
  background-color: #ffffff;
}

.header__card {
  padding: 0 15px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 14px;
  background-color: #ffffff;
  text-decoration: none;
}

.header__price {
  font-family: "GilroyBold", serif;
  margin-left: 10px;
}

.menu {
  padding: 35px 0;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  font-family: "GilroyRegular", serif;
  margin-right: 10px;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
}

@media (min-width: 1920px) {
  .wrapper {
    max-width: 1170px;
    width: 100%;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(237, 237, 237, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  cursor: pointer;
}

.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.popup-cart.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.swiper-slide {
  position: relative;
  max-width: 1170px;
  width: 100%;
  height: 520px;
  cursor: pointer;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide__title {
  position: absolute;
  font-size: 54px;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "GilroyBold", serif;
  top: 150px;
  left: 80px;
}

.swiper-slide__subtitle {
  position: absolute;
  font-size: 37px;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "YorktenSlabRegular", serif;
  top: 220px;
  left: 80px;
}

#shopify-section-slider .swiper-pagination {
  color: #ffffff;
  font-family: "GilroyBold", serif;
  font-size: 14px;
  position: absolute;
  left: 80px;
  bottom: 50px;
  text-align: left;
}

.links {
  padding: 60px 0 80px 0;
}

.links__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links__block {
  position: relative;
  max-width: 360px;
  width: 100%;
  height: 260px;
  background-color: #ededed;
  border-radius: 30px;
  margin-right: 45px;
}

.links__block:last-child {
  margin-right: 0px;
}

.links__text {
  position: absolute;
  top: 110px;
  left: 35px;
}

.links__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-family: "GilroyBold", serif;
  font-size: 32px;
  padding-bottom: 15px;
  z-index: 2;
}

.links__title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: 15px;
  background-color: #fadac5;
  z-index: -1;
}

.links__subtitle {
  max-width: 185px;
  width: 100%;
  font-family: "YorktenSlabRegular", serif;
  font-size: 18px;
}

.links__circle {
  position: absolute;
  top: 26px;
  right: 33px;
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 150px;
  overflow: auto;
}

.collection-home__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection-home__title-wrapper {
  font-family: "GilroySemiBold", serif;
}

.collection-home__title {
  color: #115e5c;
}

.collection-home__subtitle {
  color: transparent;
  -webkit-text-stroke: 1px #115e5c;
}

.collection-home__show-all {
  width: 143px;
  height: 48px;
  color: #115e5c;
  font-family: "GilroyBold", serif;
  border: 1px solid #115e5c;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.collection-home__product-wrapper {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection-home__product {
  max-width: 270px;
  width: 100%;
  padding-bottom: 50px;
}

.collection-home__img {
  position: relative;
  height: 320px;
  background-color: #f6f6f6;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection-home__add {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-family: "GilroyBold", serif;
  font-size: 18px;
}

.collection-home__product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.collection-home__product-title {
  height: 55px;
  font-family: "YorktenSlabRegular", serif;
  line-height: 21px;
  color: #4d4d4d;
  padding-bottom: 10px;
}

.collection-home__product-price {
  font-family: "GilroyBold", serif;
  font-size: 20px;
}

.collection-home__popup {
  padding: 20px;
  position: fixed;
  width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #f6f6f6;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-cart {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.popup-cart__wrapper {
  padding: 40px 30px;
  width: 350px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 81px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 81px 2px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}

.popup-cart__title-cart {
  position: relative;
  font-family: "GilroyRegular", serif;
  font-size: 20px;
}

.popup-cart__title-cart::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -20px;
  background-color: #e7eaf399;
  opacity: 0.6;
}

.popup-cart__cart-popup-wrapper {
  padding: 35px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup-cart__cart-popup-img {
  width: 60px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-cart__cart-popup-img img {
  width: auto;
  height: 80px;
}

.popup-cart__cart-popup-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-cart__cart-popup-price {
  font-family: "GilroySemiBold", serif;
  font-size: 22px;
  padding-bottom: 15px;
}

.popup-cart__cart-popup-title {
  max-width: 175px;
  width: 100%;
  font-family: "YorktenSlabRegular";
  font-size: 14px;
  line-height: 17px;
  color: #bababa;
}

.popup-cart__cart-popup-counter {
  position: relative;
  padding: 25px 0;
  width: 100%;
  background-color: #fcf9fa;
  border-radius: 10px;
  font-family: "GilroyRegular", serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-cart__cart-popup-counter span {
  margin: 0 5px;
  color: #fe7c22;
}

.popup-cart__cart-popup-counter::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -35px;
  background-color: #e7eaf399;
  opacity: 0.6;
}

.popup-cart__total-price-wrapper {
  padding: 80px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-cart__total-price-wrapper span {
  font-family: "GilroyBold", serif;
  font-size: 22px;
}

.popup-cart__total-price-total {
  font-family: "GilroySemiBold", serif;
}

.popup-cart__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "GilroyRegular", serif;
  font-size: 12px;
}

.popup-cart__continue {
  max-width: 142px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #000000;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.popup-cart__check {
  max-width: 142px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fe7c22;
  color: #ffffff;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=application.css.map */