<<<<<<< HEAD
{% section 'header' %}
{% section 'menu' %}
{% section 'slider' %}
{% section 'links' %}
{% section 'collection-home' %}
=======
<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, in minima. Officiis id culpa eius eaque. Vel temporibus eum voluptatem illum ipsum quidem officia. Quisquam fuga veniam aut possimus ipsa!</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, in minima. Officiis id culpa eius eaque. Vel temporibus eum voluptatem illum ipsum quidem officia. Quisquam fuga veniam aut possimus ipsa!</h1>
>>>>>>> 62ba977d9e33ab6ab78c3d4f97d1de4daecb96f6
